:root {
  --font-family: "Poppins", sans-serif;
  --transition: .2s all ease-out;
  --background-form: #141921;
  --color-form: #52555a;
  --color-red: #DC3535;
  --standart-color: #fff;
  --color-desc: #aeaeae;
  --active-color: #d17842;
  --background: linear-gradient(158.84deg, #252A32 4%, rgba(38, 43, 51, 0) 91.93%);
  --background-icons: linear-gradient(136.61deg, #21262E 4.28%, #0C0F14 93.52%);
  --border-radius: 10px;
}
