
<div class="welcome">
    <div class="img"><img src="assets/robusta-beans.jpg" alt="Robusta">
        <div class="header">
            <span class="icon-chevron-left" (click)="goBack()"></span>
            <span class="icon-heart"></span>
        </div>
        <div class="sidebar">
            <div class="sidebar__text">
                <div class="sidebar__text-title">Robusta Beans</div>
                <div class="sidebar__text-desc">From Africa</div>
                <div class="sidebar__text-rating">
                    <div class="star"><span class="icon-star"></span></div>
                    <span class="grade">4.5</span>
                    <span class="number">(6,879)</span>
                </div>
            </div>
            <div class="sidebar__icon">
                <div class="bean item">
                    <span class="icon-coffee"></span>
                    <span class="item__desc">Bean</span>
                </div>
                <div class="africa item">
                    <span class="icon-location"></span>
                    <span class="item__desc">Africa</span>
                </div>
                <div class="medium item">
                    <span class="item__desc">Medium Roasted</span>
                </div>
            </div>
        </div>
    </div>
   
</div>