
.welcome {}

.img {
    position: relative;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 22rem;
}

.icon-chevron-left::before {
    cursor: pointer;
    background: var(--background-icons);
    border: 1px solid #21262E;
    border-radius: var(--border-radius);
    width: 34rem;
    height: 34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-form);


}

.icon-heart::before {
    cursor: pointer;
    background: var(--background-icons);
    border: 1px solid #21262E;
    border-radius: var(--border-radius);
    width: 34rem;
    height: 34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-form);
    &.active{
        color: var(--color-red);
    }
}

.sidebar {
    position: absolute;
    border-radius: 25rem 25rem 0 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19rem 22rem 16rem 22rem;

    &__text {}

    &__text-title {
        font-weight: 600;
        font-size: 20rem;
        line-height: 100%;
        margin-bottom: 2rem;
    }

    &__text-desc {
        font-weight: 400;
        font-size: 12rem;
        line-height: 167%;
        color: var(--color-desc);
        margin-bottom: 25rem;
    }

    &__text-rating {
        display: flex;
        align-items: center;
    }

    &__icon {}
}

.star {
    transform: scale(1.4);
    padding-right: 6rem;
}

.icon-star::before {
    color: var(--active-color);
}

.grade {
    padding-right: 3rem;
    font-weight: 600;
    font-size: 16rem;
    line-height: 125%;
}

.number {
    font-weight: 400;
    font-size: 10rem;
    line-height: 200%;
    color: #aeaeae;
}

.sidebar__icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20rem;
    row-gap: 13rem;
}

.bean {}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #141921;
    border-radius: 10px;
    padding: 12rem 11rem 5rem 11rem;

    &:last-child {
        padding: 12rem 23rem;
    }

    span {
        font-weight: 500;
        font-size: 10rem;
        line-height: 200%;
        color: #aeaeae;
    }

    span::before {
        color: var(--active-color);
        font-size: 24rem;
    }

    &:last-child {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;

    }

    &__desc {}
}

.buy {
    padding: 20rem 20rem 0rem 20rem;
}

.title {
    font-weight: 600;
    font-size: 14rem;
    line-height: 143%;
    color: #aeaeae;

}

.title:nth-of-type(1) {
    margin-bottom: 15rem;
}

.title:nth-of-type(3) {
    margin-bottom: 12rem;

}

.desc {
    font-weight: 400;
    font-size: 12rem;
    line-height: 167%;
    margin-bottom: 8rem;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28rem;

    &__item {
        font-weight: 500;
        font-size: 12rem;
        line-height: 167%;
        color: #aeaeae;
        padding: 10rem 28rem;
        border-radius: 10rem;
        background: #141921;

        &.active {
            color: var(--active-color);
            border: 2px solid var(--active-color);
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__price-title {
        font-weight: 500;
        font-size: 12rem;
        line-height: 167%;
        color: #aeaeae;

    }

    &__price-cost {
        font-weight: 600;
        font-size: 20rem;
        line-height: 100%;
        color: #fff;
    }

}

.dollar {
    color: var(--active-color);
    margin-right: 7rem;
}

.cart {
    font-weight: 600;
    font-size: 16rem;
    line-height: 125%;
    color: #fff;
    border: 0;
    outline: 0;
    background: var(--active-color);
    padding: 20rem 74rem;
    border-radius: 20rem;
}