<body>
    <div class="welcome">
        <div class="img">
          <img src="assets/beans-robusta.jpg" alt="Robusta" />
          <div class="header">
            <span class="icon-chevron-left" (click)="goBack()"></span>
            <span class="icon-heart" [class.active]="isActive" (click)="toggleActive()"></span>
            
          </div>
          <div class="sidebar">
            <div class="sidebar__text">
              <div class="sidebar__text-title">Robusta Beans</div>
              <div class="sidebar__text-desc">From Africa</div>
              <div class="sidebar__text-rating">
                <div class="star"><span class="icon-star"></span></div>
                <span class="grade">4.5</span>
                <span class="number">(6,879)</span>
              </div>
            </div>
            <div class="sidebar__icon">
              <div class="item">
                <span class="icon-coffee"></span>
                <span class="item__desc">Bean</span>
              </div>
              <div class="item">
                <span class="icon-location"></span>
                <span class="item__desc">Africa</span>
              </div>
              <div class="item">
                <span class="item__desc">Medium Roasted</span>
              </div>
            </div>
          </div>
        </div>
        <section class="buy">
          <div class="title">Description</div>
          <div class="desc">
            Arabica beans are by far the most popular type of coffee beans, making up
            about 60% of the world’s coffee. These tasty beans originated many
            centuries ago in the highlands of Ethiopia, and may even be the first
            coffee beans ever consumed!
          </div>
          <div class="title">Size</div>
          <div class="volume">
            <a class="volume__item" [class.is-active]="activeLink === 1" (click)="setActive(1)">250gm</a>
            <a class="volume__item" [class.is-active]="activeLink === 2" (click)="setActive(2)">500gm</a>
            <a class="volume__item" [class.is-active]="activeLink === 3" (click)="setActive(3)">1000gm</a>
          </div>
          <div class="footer">
            <div class="footer__price">
              <div class="footer__price-title">Price</div>
              <div class="footer__price-cost">
                <span class="dollar">&#36;</span>10.50
              </div>
            </div>
            <button class="cart">Add to Cart</button>
          </div>
        </section>
      </div>
      
</body>